<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.dijlezonen.dzwelg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EventListActivity" />
        <activity
            android:name=".activities.EventActivity"
            android:parentActivityName=".activities.EventListActivity" />
        <activity
            android:name=".activities.UserListActivity"
            android:label="@string/title_user_list"
            android:parentActivityName=".activities.EventListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.dijlezonen.dzwelg.activities.EventListActivity" />
        </activity>
        <activity
            android:name=".activities.UserDetailActivity"
            android:label="@string/title_user_detail"
            android:parentActivityName=".activities.UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.dijlezonen.dzwelg.activities.UserListActivity" />
        </activity>
        <activity
            android:name=".activities.CreditActivity"
            android:label="@string/bedrag_toevoegen" />
        <activity android:name=".VerkoopActivity"></activity>
    </application>

</manifest>